                    <div class="card mb-3">
                        <div class="card-header">
                            &nbsp;
                        </div>
                        <div class="card-body">
                            <form class="form add-comment-form">
                                <div class="form-floating mb-3">
                                    <textarea class="form-control" id="comment" type="text" name="comment" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>
                                    <label for="comment">Comment</label>
                                </div>
                                <button class="btn btn-primary btn-lg btn-block" id="submit-comment" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                    <script src="/js/script-comment.js"></script>