                    <!-- comment -->
                    <div class="card mb-3">
                        <div class="card-header">
                            &nbsp;
                        </div>
                        <div class="card-body">
                            <form class="form add-comment-form">
                                <div class="form-floating mb-3">
                                    <textarea class="form-control" id="comment" type="textarea" name="comment"></textarea>
                                    <label for="comment">Comment</label>
                                </div>
                                <button class="btn btn-primary" id="submit-comment" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                    <!-- on submit, replace form and display comment, user's name and date -->
                    <script src="/js/script-comment.js"></script>