                    <div class="card mb-3">
                        <div class="card-header">
                            &nbsp;
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{content}}</p>
                            <p>Posted by {{user.username}} on {{format_date created_at}}</p>
                        </div>
                    </div>