                    <div class="card mb-3">
                        <div class="card-header">
                            <h2>{{post.postTitle}} <span>Posted by {{user}} on {{format_date post.time}}</span></h2>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{post.content}}
                            </p>
                        </div>
                    </div>