                    {{#each posts as |post|}}
                    {{> posts}}
                    {{/each}}

                    {{#if loggedIn}}
                    <!-- Your Dashboard | Home -->
                    <a href="/dashboard/post/new"><button class="btn btn-primary btn-lg">+ New Post</button></a>
                    {{/if}}
