                    {{#each posts as |post|}}
                    {{> posts loggedIn=true}}
                    {{/each}}

                    <!-- Your Dashboard | Home -->
                    <a href="/dashboard/post/new"><button class="btn btn-primary btn-lg">+ New Post</button></a>
