/* variables */
:root {
  --amaranthred: ##D90429;
  --cultured: #EDF2F4;
  --manatee: #8D99AE;
  --spacecadet: #2B2D42;
  --black: #333;
}

/* element styles */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: normal;
  background-color: var(--cultured);
}
/* bootstrap mod */
.container {
  width: 1000px;
}

/* oo classes */

/* media queries */
@media screen and (min-width: 768px) { 
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 640px) {
  body {
    min-width: 375px;
  }
}